.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  margin: 1.5rem;
  /* text-align: center; */
}

.city {
  border-radius: 0.2rem;
  border: 0.5px solid black;
  margin: 2rem 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.city-title {
  border-radius: 0.2rem 0.2rem 0 0;
  background-color: black;
  color: white;
  padding: 0.5rem 0.9rem;
}

.cities {
  margin: 1rem 0;
}

.label {
  font-weight: bold;
}