body {
  margin: 0;
  padding: 0;
}

.nav-menu {
  background-color: black;
  color: lightgrey;
}

.title-container {
  position: relative;
  background-image: url('../img/milkbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4.5rem 4.5rem;
}

.main {
  margin: 1rem 0;
}

img {
  /* width: 100%; */
  border-radius: 100%;
}

.container-fluid {
  text-align: center;
  padding: 0 !important;
}

.sub-title {
  margin: 1.5rem 0;
}

.cookie-container {
  margin: 1rem 0;
}

.cookie-type {
  display: inline;
}

.new {
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.section {
  padding: 1rem 1rem !important;
  text-align: center;
}

#about {
  background-color: lightgrey;
}

#contact {
  background-color: deepskyblue;
  color: white;
}

.desc {
  text-align: left;
}
